h1{
    font-size: 50px; tamanho da fonte de jupiter
    background-color: grey; altera cor de fundo do jupiter
    border-width:8px;
    border-style: dashed;
}

h4{
    font-size: 20px;
}
    
li {
    color: orange;    
}

body{
    background-image: url('https://images6.alphacoders.com/310/thumb-1920-310220.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}